@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary-color: #011624;
    --primary-color-dark:#064670;
    --text-dark:#091a25;
    --text-light:#062d49;
    --white:#ffff;
    --max-width:1000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader{
    margin-bottom: .5rem;
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}

.section_subheader::after{
    position: absolute;
    content: --;
    top: 50%;
    transform: translate(1rem -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--primary-color);
}

.section_header{
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.section_description{
    max-width: 600px;
    margin-bottom: 1rem;color: var(--text-light);
}

.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--primary-color-dark);
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

.logo{
    max-width: 120px;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", system-ui;
}
/*------header*/

.header {
    background-image: -webkit-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/homepage-background.jfif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.2rem;
}

nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.Nav_bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary-color);
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(13, 2, 51, 0.9);
    transform: translateY(-100%);
    transition: .5s;
    z-index: -1;
}

.nav_links{
    transform: translateY(0);
}

.nav_links a{
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white);
    transition: 0.3s;
}

.nav_btn{
    display: none;
}

.header_container{
    padding: 10rem 15rem;
}

.header_container p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    opacity: 0.9;
}

.header_container h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--white);
    text-align: center;
}

.header_container h1 span{
    color: var(--white);
}
/*-----checkhome*/

.checkhome_container{
    padding-block: 0;
    margin-top: 0.2rem;
}

.checking_form {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 20px rgba(13, 2, 51, 0.9);
}

.input_group {
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input_group span{
    font-size: 1.75rem;
    color: var(--primary-color);
}

.input_group label {
    font-weight: 500;
    color: var(--text-dark);
}

.input_group input{
    display: block;
    width: 100%;
    max-width: 150px;
    padding-block: 5px;
    color: var(--text-dark);
    font-size: 0.9rem;
    outline: none;
    border: none;
}

.input_group input placeholder{
    color: var(--text-light);
}

/*------about us----*/


.about_container {
    overflow: hidden;
    display: grid;
    gap: 2rem;
    margin-top: 2.5rem;
}

.about_image img {
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}

/*------properties section-----*/


.property-header{
    background-image: -webkit-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/spacejoy-trG8989WjFA-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;

}
.property-2-header{
    background-image: -webkit-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pexels-tobiasbjorkli-2119714.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.2rem;
}

p a .p-tag{
    color:greenyellow;
}
.p-tag{
color: white;
}

.p-tag:hover{
    color: greenyellow;
}
#properties .container{
    width: auto;
    height: 160vh;
    padding: 20px 0 190px 0;
}

.container.properties{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 1 ;
    gap: 30px;
    justify-content: center;
}

.box img{
    border-radius: 20px 20px 0 0;
}

.box .sale-p{
    background-color: #2b842e;
    color: white;
    position: absolute;
    padding: 3px;
    border-radius: 5px 0px;
    margin: 20px;
}
.box .rent-p{
    background-color:greenyellow;
    color: #011624;
    font-weight: bold;
    position: absolute;
    padding: 3px;
    border-radius: 5px 0px;
    margin: 20px;
}

.box{
    border-radius: 20px;
    background-color: white;
    box-shadow:2px 2px 2px gray;

}

.box p{
    color:#011624;
}

.box-items span{
    color: grey;
    font-size: small;
}
.box .box-items{
    margin: 20px;
    
}
.box hr{
    margin-top: 20px;
}

.btn-properties{
    background-color: #042b44;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    width:6rem;
    padding: 8px;
    cursor: pointer;
    margin-top: 15px;

    }
    .icons-properties{
display: flex;
    }

    .icons-properties i{
        font-weight: lighter;
    }

    .hr-properties{
        font-size: 13px;
        margin: auto;
        margin-top: 18px;
    }
    
.button{
    text-align: center;
    margin-bottom: 120px;

    }
    
    a.btn-more{
        background-color: var(--white);
        border-radius: 5px;
        border: 1.5px solid greenyellow;
        color: greenyellow;
        cursor: pointer;
        font-weight: bold;
        padding: 13px;
        width:30%;
    }


    a.btn-more:hover{
        background-color:greenyellow;
        color: #011624;
    }
/*-----proerties container----*/
.properties_grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.properties_card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(13, 2, 51, 0.9);
}

.properties_card_image {
    position: relative;
    isolation: isolate;
}

.properties_icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.properties_icon span {
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.5rem;
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(13, 2, 51, 0.6);
    cursor: pointer;
}

.properties_icon span:nth-child(1){
    color: rgb(23, 182, 182);
}

.properties_icon span:nth-child(2){
    color: rgb(3, 75, 75);
}

.properties_icon span:nth-child(3){
    color: rgb(22, 5, 116);
}

.properties_card_detials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.properties_card_detials h4{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.properties_card_detials p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    text-align: center;
}

.properties_card_detials h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.properties_card_detials h5 span{
    font-size: 1.1rem;
    color: var(--primary-color-dark);
}

.properties_card_detials button{
    margin-bottom: 1rem;
}

/*-------service section-----*/

.service {
    background-image: url("Images/modern-house.jfif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service_container{
    padding-block: 0;
    display: grid;

    grid-template-columns: repeat(2,1fr);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.service_content {
    grid-column: 1/3;
    padding: 2rem 4rem;
    background-color: var(--white);
}

.service_list{
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.service_list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
}

.service_list span{
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 100%;
}

.service_list li:nth-child(1) span{
    color: #064772;
    background-color: #091a25;
}

.service_list li:nth-child(2) span{
    color: #11649b;
    background-color: #091a25;
}

.service_list li:nth-child(3) span{
    color: #0d8bdf;
    background-color: #091a25;
}

.service_list li:nth-child(4) span{
    color: #3dbfd6;
    background-color: #091a25;
}

/*-------banner section-----*/

.banner__content{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 5px 41px 14px rgba(0,0,0,0.64);
}

.banner__card {
    text-align: center;
    flex: 1 1 180px;
}

.banner__card h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.banner__card p {
    color: var(--text-light);
}

/*------Explore section------*/

.explore :is(.section_subheader, .section_header) {
    text-align: center;
    margin-inline: auto;
    margin-top: 1rem;
}


.explore_bg{
    margin-top: 4rem;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 
    minmax(1fr,1fr) minmax(0, var(--max-width))
    minmax(1fr, 1fr);
    background-image: url("Images/flower.jfif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore_content{
    grid-column: 2/3;
    max-width: 400px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(13, 2, 51, 0.9);
}

.explore_content p{
    margin-bottom: 0.5rem;
}

.explore_content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--text-dark);
}

.explore_content .btn{
    color: var(--primary-color);
    background-color: var(--white);
    border: .2rem solid var(--primary-color);
}

.explore_content .btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
}


.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


/*------------ CONTACT US ------------*/

.contact_header{
    background-image: -webkit-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/contact.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.2rem;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: var(--primary-color-dark);
    color: white;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    border: 1px solid black;
    border-radius: 40px;
    width: 64px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 26px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/*--------footer -------*/

.section__container{
    padding-top: 1rem;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.footer{
    background-color: var(--text-dark);
    margin-top: 2rems;
}

.footer__container{
    display: grid;
    gap: 4rem 2rem;
}

.footer__col .Section__description{
    margin-block: 2rem;
    color: var(--white);
}


.footer__col h4{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
}

.footer__links{
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer__links a{
    color: var(--text-light);
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--white);
}

.footer__socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials img{
    max-width: 30px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer__socials img:hover{
    opacity: 1;
}

.footer__bar {
    display: flex;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
    justify-content: center;
    align-items: center;
}





/*------media Query-------*/

@media (width > 576px) {
    .properties_grid {
        grid-template-columns: repeat(2,1fr);
    }

    /* CONTACT US */
   

    #form-details {
        margin: 10px;
        padding: 30px 10px;
       flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }


    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width > 768px) {
    nav {
        padding: 2rem 1rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Nav_bar {
        padding: 0;
        background-color: transparent;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links {
        padding: 0;
        width: unset;
        position: static;
        transform: none;
        flex-direction: row;
        background-color: transparent;
    }

    .nav_btn{
        display: block;
    }

    .nav_links a::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: 0.3s;
        transform-origin: left;
    }

    .nav_links a:hover::after {
        width: 100%;
    }

    .about_container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .properties_grid {
        grid-template-columns: repeat(3,1fr);
    }

    .service_content {
        grid-column: 2/3;
    }

    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }


}

@media (width > 1024px){
    .properties_grid {
        gap: 2rem;  
    }
}



/*------properties-------*/
@media(width < 576px){
    
#properties .container{
    width: auto;
    height: 375vh;
    padding: 20px 0 100px 0;
}

.container.properties{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 1 ;
    gap: 30px;
    justify-content: center;
}

}

@media (width > 768px){
     
#properties .container{
    width: auto;
    height: 130vh;
    padding: 20px 0 100px 0;
}

.container.properties{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1 ;
    gap: 30px;
    justify-content: center;
}

}
    
@media (width > 1085px){
     
    #properties .container{
        width: auto;
        height: 124vh;
        padding: 20px 0 100px 0;
    }
    
    .container.properties{
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 1 ;
        gap: 30px;
        justify-content: center;
    }
    
    }

    
@media (width > 1286px){
     
    #properties .container{
        width: auto;
        height: 155vh;
        padding: 20px 0 100px 0;
    }
    
    .container.properties{
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 1 ;
        gap: 30px;
        justify-content: center;
    }
    
    }


    
    